body{
    background-image: url("../img/asfalto_fundo.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    background-attachment: fixed;
    background-color: rgb(202, 202, 202);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 98vh;
    min-width: 1120px;
}

main{
    background-color: rgb(177, 175, 175);
    padding: 30px 0px 30px 0px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgb(0, 0, 0, 0.5);
    min-width: 1120px;
}

header{
    text-align: center;
    height: max-content;
    min-width: 1120px;
}

nav{
    background-color: lightgray;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.589);
    margin: 25px;

    max-width: 800px;
    min-width: 1120px;
    height: fit-content;
    width: 75%;
    margin: auto;
}

nav > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 20px;
    transition-duration: 0.2s;

    max-width: 800px;
    margin: 10px 10px 10px 10px;
    font-size: 1.0em;
}

nav > a:hover{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.300);
    font-size: 1.1em;
}

div{
    margin: 30px;
    box-shadow: 1px 1px 5px 1px rgb(0, 0, 0, 0.5);
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 3em;
}

h2{
    text-align: center;
    font-size: 2em;
}

table{
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 5px 1px rgb(0, 0, 0, 0.3);
}

th{
    font-size: 1.2em;
}

td, th{
    border: 2px solid rgb(107, 107, 107);
    text-align: left;
    padding: 5px;
    height: 1em;
}

tr:nth-child(even){
    background-color: rgb(107, 107, 107);
}

p{
    font-size: 1.2em;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: serif;
}